In [69]:
import pandas as pd

url = 'https://raw.githubusercontent.com/werowe/logisticRegressionBestModel/master/KidCreative.csv'

df = pd.read_csv(url, delimiter=',')

In [71]:
df.head()

,Obs No.,Buy,Income,Is Female,Is Married,Has College,Is Professional,Is Retired,Unemployed,Residence Length,Dual Income,Minors,Own,House,White,English,Prev Child Mag,Prev Parent Mag
0,1,0,24000,1,0,1,1,0,0,26,0,0,0,1,0,0,0,0
1,2,1,75000,1,1,1,1,0,0,15,1,0,1,1,1,1,1,0
2,3,0,46000,1,1,0,0,0,0,36,1,1,1,1,1,1,0,0
3,4,1,70000,0,1,0,1,0,0,55,0,0,1,1,1,1,1,0
4,5,0,43000,1,0,0,0,0,0,27,0,0,0,0,1,1,0,1

In [65]:
url = 'https://raw.githubusercontent.com/werowe/logisticRegressionBestModel/master/ct1.json'
dfct=pd.read_json(url,lines=True)

In [72]:
dfct.head()

,city,district,location,number,postcode,region,state,street,unit
0,Middletown,,"{'coordinates': [-72.7277847, 41.5692709], 'ty...",1111,6457,Middlesex,CT,Country Club Rd,
1,Berlin,,"{'coordinates': [-72.7738706, 41.6332836], 'ty...",51,6037,Hartford,CT,Parish Dr,
2,Berlin,,"{'coordinates': [-72.8102478, 41.5992734], 'ty...",90,6037,Hartford,CT,Stockings Brook Rd,
3,Berlin,,"{'coordinates': [-72.7450054, 41.5991937], 'ty...",99,6037,Hartford,CT,Lamentation Dr,
4,Berlin,,"{'coordinates': [-72.7406975, 41.5992867], 'ty...",207,6037,Hartford,CT,Lamentation Dr,

In [66]:
dfct.columns

Index(['city', 'district', 'location', 'number', 'postcode', 'region', 'state',
       'street', 'unit'],
      dtype='object')

In [68]:
pd.DataFrame(list(dfct['location']))

                  coordinates   type
0   [-72.7277847, 41.5692709]  Point
1   [-72.7738706, 41.6332836]  Point
2   [-72.8102478, 41.5992734]  Point
3   [-72.7450054, 41.5991937]  Point
4   [-72.7406975, 41.5992867]  Point
5   [-72.7482723, 41.5993596]  Point
6    [-72.778901, 41.5977891]  Point
7    [-72.8088667, 41.599351]  Point
8   [-72.7478548, 41.5993683]  Point
9   [-72.7865292, 41.5992137]  Point
10  [-72.7475308, 41.5994419]  Point
11  [-72.7988155, 41.5995092]  Point
12  [-72.7218487, 41.6126763]  Point
13  [-72.7407181, 41.6126887]  Point
14  [-72.7940009, 41.6128324]  Point
15  [-72.7690298, 41.6128051]  Point
16  [-72.7215849, 41.6127178]  Point
17   [-72.7513592, 41.612934]  Point
18  [-72.7412919, 41.6129133]  Point
19  [-72.7918984, 41.6129688]  Point
20  [-72.7550852, 41.6068491]  Point
21  [-72.7417391, 41.6065765]  Point
22  [-72.7284301, 41.6070549]  Point
23  [-72.7564222, 41.6070186]  Point
24  [-72.7288349, 41.6060497]  Point
25  [-72.7603946, 41.6070241]  Point
26  [-72.7511137, 41.6070514]  Point
27  [-72.7560591, 41.6070651]  Point
28  [-72.7184414, 41.6068432]  Point
29  [-72.7556998, 41.6071113]  Point
..                        ...    ...
70   [-72.715244, 41.6184658]  Point
71   [-72.7553276, 41.619107]  Point
72   [-72.756036, 41.6332815]  Point
73  [-72.7691727, 41.6364285]  Point
74  [-72.7404585, 41.6289607]  Point
75  [-72.7733215, 41.6432168]  Point
76  [-72.7724581, 41.6434685]  Point
77  [-72.7607094, 41.6316976]  Point
78  [-72.7252962, 41.6132187]  Point
79   [-72.7543947, 41.649563]  Point
80  [-72.7703978, 41.5846676]  Point
81  [-72.7459805, 41.6041066]  Point
82  [-72.7381782, 41.6040051]  Point
83  [-72.7440605, 41.6042214]  Point
84  [-72.7463045, 41.6040386]  Point
85  [-72.7722808, 41.6040372]  Point
86  [-72.7599655, 41.6041386]  Point
87  [-72.7784821, 41.6038826]  Point
88  [-72.7453958, 41.6041983]  Point
89   [-72.7180601, 41.604221]  Point
90  [-72.7708655, 41.6043061]  Point
91   [-72.7917241, 41.626675]  Point
92  [-72.7859739, 41.6264781]  Point
93  [-72.7693304, 41.6266284]  Point
94  [-72.7388699, 41.6266525]  Point
95  [-72.7676758, 41.6267272]  Point
96  [-72.7812195, 41.6267528]  Point
97  [-72.7849181, 41.6266921]  Point
98  [-72.7689817, 41.6266608]  Point
99   [-72.769736, 41.6266151]  Point

[100 rows x 2 columns]